{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='/assets/all.css') }}">{% endblock head%}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>Your shortened links</h1>
    <div class="container">
        {% for url in urls %}
            <p>Long url: {{url.long_url}} </br>Short url: <a href="http://127.0.0.1:5000/{{url.short_url}}">http://127.0.0.1:5000/{{url.short_url}}</a></p>
        {% endfor %}
    </div>
    

{% endblock content %}