{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='/assets/all.css') }}">{% endblock head%}
{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <h1>Your shortened links</h1>
    <div class="container">
        {% for url in urls %}
            <p>Long url: <span style="color: blue;">{{url.long_url}}</span> </br>Short url: <a href="https://url-shortener-fkpl.onrender.com/{{url.short_url}}">{{url.short_url}}</a></p></br>
        {% endfor %}
    </div>
    

{% endblock content %}
