{% extends "base.html" %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='/assets/index.css') }}">
{% endblock head%}



{% block title %}{{title}}{% endblock %}

{% block content %}
    <div>
        <h1>Url Shortener</h1>
    </div>
    
    <div class="container">
        <form action="#", method="post">
            <label for="url">Enter an URL:</label>
            <input type="url" name="url" id="url" required>
            <input type="submit" value="submit" id="button">
        </form>
    </div>
    
{% endblock content %}